.full-screen {
  width: 99vw;
  height: 86vh;
  background: linear-gradient(180deg, #b2e4ff, #f3deec);
  display: flex;
  justify-content: center;
  align-items: center;
}

.div-centro{
  border-radius: 18px;
  border: 5px solid #900c77;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);

  margin-top: 30px;
  padding: 30px;
  background-color: #fcee58;
  height: 400px;
  width: 700px;
}

@font-face {
  font-family: 'MiFuente';
  src: url('/assets/fuentes/f2.ttf') format('truetype');
}

h2 {
  font-family: 'MiFuente', sans-serif !important;
  font-size: 32px;
  font-weight: bold;
  color: #900c77;
  text-align: center;
  text-transform: uppercase;
  padding: 10px;
  font-weight: bold;
}

h1{
  font-family: 'MiFuente', sans-serif !important;
  font-size: 50px;
  font-weight: bold;
  color: #900c77;
  text-align: center;
  text-transform: uppercase;
  padding: 10px;
  font-weight: bold;
}

h4 {
  font-family: 'MiFuente', sans-serif !important;
  font-size: 15px;
  font-weight: bold;
  color: #900c77;
  text-align: center;
  text-transform: uppercase;
  padding: 10px;
  font-weight: bold;
}

