<div class="register-container">


    <h1>Crear cuenta</h1>
    <input type="text" placeholder="Nombre" [(ngModel)]="nombre" class="register-input" />
    <input type="text" placeholder="Correo electrónico" [(ngModel)]="mail" class="register-input" />
    <input type="password" placeholder="clave" [(ngModel)]="password" class="register-input" />
    <input type="file" (change)="onFileSelected($event)" class="register-input" />
    <button (click)="register()" class="register-button">
        Crear cuenta
    </button>
    <div class="login-link-container">
        <a routerLink="../login" class="login-link">INICIAR SESION</a>
</div>

