.register-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(180deg, #b2e4ff, #f3deec);
}

.register-input {
    width: 300px;
    padding: 10px;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
}
.register-input:focus {
    border-color: #007bff;
    outline: none;
}

.register-button {
  font-family: 'MiFuente', sans-serif !important;
    background-color: #28a745;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    margin-top: 17px;
    background-color: #8df59b;
    color:rgb(144, 12, 119);
    padding: 10px 20px;
    border: none;
    border-radius: 8px;
    font-size: 15px;
    cursor: pointer;
    transition: 0.3s;
    width: 25vh;
    font-family: 'MiFuente', sans-serif ;
    font-size: 12px;
    text-align: center;
    text-transform: uppercase;
    padding: 10px;
    font-weight: bold;

  &:hover {
    background-color: #fbc2eb;
  }
}

.register-button:hover {
    background-color: #218838;
}

.login-link-container {
    margin-top: 20px;
}
.login-link {
    color: #007bff;
    text-decoration: none;
    font-size: 14px;
}

@font-face {
  font-family: 'MiFuente';
  src: url('/assets/fuentes/f2.ttf') format('truetype');
}

h1 {
  font-family: 'MiFuente', sans-serif !important;
  font-size: 32px;
  font-weight: bold;
  color: #900c77;
  text-align: center;
  text-transform: uppercase;
  padding: 10px;
  font-weight: bold;
}

