.nav{
    border-bottom: 0px solid #ccc; //1
    padding: 1rem;
    margin-bottom: 2rem;
}

.selected{
    background-color: #9bdddd;
    border-radius: 5px;
}

.div-horizontal{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    //background-color: #e3e71e;
    height: 15vh;
    //align-items: center;
    //height: 100vh;

    background-image: url('/assets/rainbow2.jpg'); // Ruta de la imagen
    width: 99vw; // Ancho completo
    background-size: 9%;

}

.div-vertical{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}


/*
:host {
  display: block;
  width: 100vw; // Ancho completo
  height: 100vh; // Alto completo de la ventana
  background-image: url('/assets/g2.jpg'); // Ruta de la imagen
  background-size: cover; // La imagen se ajusta sin recortes
  background-position: center; // Centra la imagen
  background-repeat: no-repeat; // Evita repeticiones
}
*/

@font-face {
  font-family: 'MiFuente';
  src: url('/assets/fuentes/f2.ttf') format('truetype');
}


button {
  margin-top: 17px;
  background-color: #8df59b; // Color de fondo
  color: rgb(5, 73, 151); // Color del texto
  padding: 10px 20px; // Espaciado interno
  border: none; // Sin bordes
  border-radius: 8px; // Bordes redondeados
  font-size: 15px; // Tamaño de letra
  cursor: pointer; // Cambia el cursor al pasar el mouse
  transition: 0.3s; // Animación suave


  ///////
  width: 25vh;
  font-family: 'MiFuente', sans-serif !important;
  font-size: 12px; // Tamaño de la fuente
  text-align: center; // Centrado
  text-transform: uppercase; // Mayúsculas
  padding: 10px; // Espaciado interno
  font-weight: bold;

  &:hover {
    background-color: #fbc2eb; // Cambio de color al pasar el mouse
  }
}
