<div class="full-screen">


  <div class="div-horizontal">

    <div class="div-vertical">


      <div class="nav">
        <button routerLinkActive="selected" routerLink="home">Home</button>
        &nbsp;
        <button routerLinkActive="selected" routerLink="quien-soy">Quien soy?</button>
        &nbsp;
        <button routerLinkActive="selected" routerLink="login">Iniciar Sesion</button>
        &nbsp;
        <button routerLinkActive="selected" routerLink="registro">Crear Cuenta</button>

      </div>

    </div>

  </div>
  <router-outlet />

</div>
