.nav{
    border-bottom: 0px solid #ccc;
    padding: 1rem;
    margin-bottom: 2rem;
}

.selected{
    background-color: #9bdddd;
    border-radius: 5px;
}

.div-horizontal{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    height: 15vh;
    background-image: url('/assets/rainbow2.jpg');
    width: 99vw;
    background-size: 9%;

}

.div-vertical{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}


@font-face {
  font-family: 'MiFuente';
  src: url('/assets/fuentes/f2.ttf') format('truetype');
}


button {
  margin-top: 17px;
  background-color: #8df59b;
  color: rgb(5, 73, 151);
  padding: 10px 20px;
  border: none;
  border-radius: 8px;
  font-size: 15px;
  cursor: pointer;
  transition: 0.3s;
  width: 25vh;
  font-family: 'MiFuente', sans-serif !important;
  font-size: 12px;
  text-align: center;
  text-transform: uppercase;
  padding: 10px;
  font-weight: bold;

  &:hover {
    background-color: #fbc2eb;
  }
}
