<div class="full-screen">



  <div class="div-horizontal">

    <div class="div-vertical">

      <h1>BIENVENIDOS A</h1>
      <h1 class="h1-sala-de-juegos">SALA DE JUEGOS</h1>


      <div class="div-juegos-horizontal">



        <button routerLinkActive="selected" routerLink="login"><p>Ahorcado</p></button>
        &nbsp;
        <button routerLinkActive="selected" routerLink="login"><p>Menor o Mayor</p></button>
        &nbsp;
        <button routerLinkActive="selected" routerLink="login"><p>Preguntados</p></button>
        &nbsp;
        <button routerLinkActive="selected" routerLink="login"><p>Juego L</p></button>


      </div>

    </div>



  </div>

</div>
