.full-screen {
  width: 99vw;
  height: 86vh;
  //background: linear-gradient(180deg, #1e96f8, #f3deec);
  background: linear-gradient(180deg, #b2e4ff, #f3deec);
  display: flex; // Opcional, para centrar contenido
  justify-content: center;
  align-items: center;
}

.div-horizontal{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    //background: linear-gradient(90deg, #ff9a9e, #fad0c4);
    //align-items: center;
    //height: 100vh;

}

.div-vertical{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}


.div-juegos-horizontal{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    //align-items: center;
    //height: 100vh;
}





/*
:host {
  display: block;
  height: 80vh;
  //width: 90vw; // Ancho completo
  background-image: url('/assets/g8.webp');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
*/


button {
  height: 15vh;
  width: 25vh;
  //margin: 5%;
  background-color: #fcee58; // Color de fondo
  color: rgb(176, 35, 157); // Color del texto
  padding: 10px 20px; // Espaciado interno
  border: none; // Sin bordes
  border-radius: 8px; // Bordes redondeados
  font-size: 15px; // Tamaño de letra
  cursor: pointer; // Cambia el cursor al pasar el mouse
  transition: 0.2s; // Animación suaves
  //background-image: url('/assets/rainbow2.jpg'); // Ruta de la imagen
  //background-size: 80%;

  &:hover {
    background-color: #fbc2eb; // Cambio de color al pasar el mouse
  }
}

@font-face {
  font-family: 'MiFuente';
  src: url('/assets/fuentes/f2.ttf') format('truetype');
}

h1 {
  font-family: 'MiFuente', sans-serif !important;
  font-size: 32px; // Tamaño de la fuente
  font-weight: bold; // Negrita
  color: #900c77; // Color del texto
  text-align: center; // Centrado
  text-transform: uppercase; // Mayúsculas
  padding: 10px; // Espaciado interno
  font-weight: bold;
}

.h1-sala-de-juegos{
  font-size: 50px; // Tamaño de la fuente
  //border-bottom: 2px solid #900c77; // Línea decorativa debajo
}

p{
  font-family: 'MiFuente', sans-serif !important;
  font-size: 15px; // Tamaño de la fuente
  text-align: center; // Centrado
  text-transform: uppercase; // Mayúsculas
  padding: 10px; // Espaciado interno
  font-weight: bold;
}
